.button {
    font-size: 15px;
    line-height: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all .15s linear;
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
    width: 120px;
    &--primary{
        background: #00a662;
    border-color: #00a662;
    color: #ffffff;
    }
    &--secondry{
        color: red;
    }
    &--loading{
        color:yellow;
    }
}